* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200;1,300&family=Open+Sans:wght@300;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200;1,300&family=Open+Sans:wght@300;500;600&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

.titulo {
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: 2.3px solid rgb(0, 0, 0);
  padding-bottom: 4px;
  color: white;
  font-family: 'Monstserrat';
  color: #f3f3f3;
  text-transform: uppercase;
  font-weight: 500;
}

.subtitulo {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}


fieldset {
  margin-top: 3%;
  border: none;
}

.grupo {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.campo.setor{
  margin-left: 20px;
}


body {
  background-color: #3b3b3b;
  font-size: 1rem;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 7%;
  justify-content: center;

}

.background {
  background-color: #fcae18;
  padding: 30px;
  border-radius: 15px;
}

input,
select,
textarea,
button {
  border-radius: 5px;
}

input,
select {
  font-size: 1rem;
  padding: 3px;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px black;
  background-color: #f3f3f3;
  color: #000;
}

#resultado {
  font-size: 1.3rem;
}

.campo {
  margin-bottom: 1rem;
  border-radius: 50%;
}

.campo label {
  margin-bottom: 0.2rem;
  display: block;
  font-size: 17px;
  color: white;
}


label {
  color: black;
}

.div-botao-form {
  text-align: center;
}

.btn-form {
  border: solid 1px rgb(255, 187, 0);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.btn-form:hover {
  background-color: #FFA100;
  color: white;
  transform: scale(1.2)
}

.div-botao-copiar {
  text-align: center;
  margin-top: 20px;
}

.btn-copiar-assinatura {
  border: solid 1px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  display: none;
}

#resultado {
  font-family: arial, sans-serif;
  margin-top: 20px;
  font-size: 0.6rem;
  background: white;
  padding: 15px;
  border-radius: 15px;
  display: none;
}

.info-resultado {
  color: black;
  text-transform: uppercase;
  user-select: none;
  font-weight: bold;
}

#tel {
  line-height: 2;
}

#endereco {
  line-height: 2;
}

#canais {
  line-height: 0;
}

/* .campo input[type="text"], .campo input[type="email"] */