*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap');

.titulo{
    color: #8B4513;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 2.3px solid rgb(0, 0, 0);
    padding-bottom: 4px;
}

.subtitulo{
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}

fieldset{
  margin-top: 3%;
}


.grupo{
  border-radius: 10px;
}

body{
  background-color:#F0F8FF;
  font-size: 1rem;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  justify-content: center;
}

input, select, textarea, button{
  border-radius: 5px;
}

input, select{
  font-size: 1rem;
  padding: 3px;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px black;
}

#resultado{
  font-size: 1.3rem;
}

.campo{
  margin-bottom: 1rem;
  border-radius: 50%;
}

.campo label{
  margin-bottom: 0.2rem;
  color: #000;
  display: block;
  font-size: 20px;
}

.btn{
    border: solid 1px blue;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: blue;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.btn:hover{
    background-color: blue;
    color: white;
    transform: scale(1.2)
}

/* .campo input[type="text"], .campo input[type="email"] */

