@media screen and (max-width: 768px) {

    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    .titulo {
        font-size: 23px;
        padding: 15px;
    }

    .subtitulo {
        font-size: 12px;
    }

    .background {
        padding: 20px;
        border-radius: 2%;

    }

    .background::before {
        content: "";
        background-image: url(https://a-us.storyblok.com/f/1006947/x/e39e2f116a/favicon.ico);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0rem;
        padding: 1.1rem;
    }

    .grupo {
        flex-direction: column;
        align-items: stretch;
    }

    .campo.setor-Primario {
        margin-top: -10px;
    }

    .campo.setor-Primario,
    .campo.setor-Secundario {
        display: flex;
        flex-wrap: wrap;
        margin-left: 24px;
    }

    .campo.setor-Secundario {
        margin-top: 3px;
    }

    .campo-agenda{
        float: left;
        margin-left: 20px;
        margin-bottom: 15px;
    }


    .campo-celular {
        width: 61%;
        margin-left: 21px;
    }

    .div-botao-form,
    .div-botao-copiar {
        font-size: 12px;
        padding-top: 20px;
    }

    .div-botao-form {
        margin: 10px 10px 10px;
    }

    .div-botao-copiar {
        margin-bottom: 15px;
    }

    .btn-form,
    .btn-copiar-assinatura {
        padding: 8px 20px;
    }
}

;