@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200;1,300&family=Open+Sans:wght@300;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200;1,300&family=Open+Sans:wght@300;500;600&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  ---corPrimaria: #f3f3f3;
  ---corSecundaria: #333;
}



body {
  background-color: #f3f3f3;
  font-size: 1rem;
  margin-left: 27%;
  margin-right: 27%;
  margin-top: 1%;
  /* justify-content: center; */

}

body::before{
  content: "";
  background-image: url('https://a-us.storyblok.com/f/1006947/300x65/6db080fb33/apis3-group.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0rem,0rem;
  padding:3.7rem;
}


.titulo {
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: 2.3px solid rgb(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto';
}

span {
  color: #FFA100;
  padding-left: 8px;
}

.subtitulo {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: white;
  font-weight: lighter;
  font-family: 'Montserrat';
}

.background {
  background-color: #333;
  padding: 40px;
  border-radius: 5%;
}


fieldset {
  margin-top: 3%;
  border: none;
}


.grupo {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  font-family: 'Roboto';
  gap: 15px;
  justify-content: space-between;

}



.campo.setor-Primario {
  margin-left: 21px;
  font-family: 'Roboto';
}

.campo.setor-Secundario {
  float: right;
  margin-right: 21px;
  margin-top: -75px;
}

.campo-agenda{
  float: right;
  margin-right: 19.8px;
}


::placeholder {
  font-size: 14px;
}



input,
select,
textarea,
button {
  border-radius: 5px;
}

::placeholder {
  font-family: "Roboto";
}

input,
select {
  font-size: 1rem;
  padding: 3px;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px black;
  background-color: #f3f3f3;
  color: #000;
  display: block;
}

#resultado {
  font-size: 1.3rem;
}

.campo {
  margin-bottom: 1rem;
  border-radius: 50%;
  font-family: 'Roboto';
}

.campo label {
  margin-bottom: 0.2rem;
  display: block;
  font-size: 17px;
  color: white;
}

select {
  font-size: 17px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  background-color: #f3f3f3;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#setor-ad option:nth-child(1) {
  background: #FFA100;
}

#setor option:nth-child(1) {
  background: #FFA100;
}


select:focus {
  outline: none;
  border-color: #FFA100;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}


label {
  color: white;
}

.div-botao-form {
  margin-top: 60px;
  text-align: center;
}

.btn-form {
  border: solid 1px rgb(255, 187, 0);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.btn-form:hover {
  background-color: #FFA100;
  color: white;
  transform: scale(1.2)
}

.div-botao-copiar {
  text-align: center;
  margin-top: 20px;
}

.btn-copiar-assinatura {
  border: solid 1px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  display: none;
  font-family: "Roboto";
}

#btn-email{
  background-color:rgb(255, 187, 0);
}

#btn-email:hover{
  background-color: rgb(255, 21, 13);
}

.encaminhar a{
  text-decoration: none;
  color: black;
}

.encaminhar{
  margin-top: 10px;
 
}

#resultado {
  font-family: 'Roboto';
  margin-top: 20px;
  font-size: 0.6rem;
  background: white;
  padding: 15px;
  border-radius: 15px;
  display: none;
}

.campo-ddd {
  margin-bottom: 9px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  width: 14%; /* Ajuste conforme necessário */
}

.campo-ddd label {
  margin-top: 0.2rem;
  display: block;
  font-size: 17px;
  color: white;
}

.campo-ddd input {
  font-size: 1rem;
  padding: 3px;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px black;
  background-color: #f3f3f3;
  color: #000;
  display: block;
}

.juntos{
  display: flex;
  margin-left: 20px;
}

.campo-celular {
  flex-direction: column;
  display: flex;
  margin-top: 5px;
  width: 43%;
  margin-left: 10px;
  font-family: "Roboto";
}

.info-resultado {
  color: black;
  text-transform: uppercase;
  user-select: none;
  font-weight: bold;
}

#tel {
  line-height: 2;
}

#telefone {
  display: flex;
}

#endereco {
margin-top: -15px;
}

#canais {
  margin-top: -27px;
}

/* .campo input[type="text"], .campo input[type="email"] */