* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200;1,300&family=Open+Sans:wght@300;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200;1,300&family=Open+Sans:wght@300;500;600&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

body {
  background: linear-gradient(to right, #FFA100, #FF4500);
  font-size: 1rem;
  margin-left: 27%;
  margin-right: 27%;
  margin-top: 1%;
  justify-content: center;

}

.titulo {
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: 2.3px solid rgb(0, 0, 0);
  padding-bottom: 4px;
  color: #000000;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: 'Montserrat';
}

.subtitulo {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #000;
  font-weight: lighter;
  font-family: 'Montserrat';
}

.background {
  background-color: #f3f3f3;
  padding: 40px;
  border-radius: 15px;
}

.background::before {
  content: "";
  background-image: url('https://a-us.storyblok.com/f/1006947/x/e39e2f116a/favicon.ico');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1.3rem;
}

fieldset {
  margin-top: 3%;
  border: none;
}


.grupo {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  font-family: 'Roboto';
  gap: 15px;
  justify-content: space-between;
  
}



.campo.setor-Primario, 
.campo.setor-Secundario  {
  margin-left: 20px;
}



::placeholder {
  font-size: 14px;
}


input,
select,
textarea,
button {
  border-radius: 5px;
}

::placeholder {
  font-family: "Roboto";
}

input,
select {
  font-size: 1rem;
  padding: 3px;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px black;
  background-color: #f3f3f3;
  color: #000;
  display: block;
}

#resultado {
  font-size: 1.3rem;
}
.campo {
  margin-bottom: 1rem;
  border-radius: 50%;
  font-family: 'Roboto';
}

.campo label {
  margin-bottom: 0.2rem;
  display: block;
  font-size: 17px;
  color: black;
}

select {
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  background-color: #f3f3f3;
  color: black;
  cursor: pointer;
}
select {
  /* Outras propriedades CSS para o seu select */
  appearance: none; /* Desativa a aparência padrão do sistema operacional */
  -moz-appearance: none; /* Para Firefox */
  -webkit-appearance: none; /* Para navegadores WebKit (Chrome, Safari) */
}

select::-ms-expand {
  display: none; /* Remove a seta no Internet Explorer */
}

/* Restante do seu código... */



select:focus {
  outline: none;
  border-color: #FFA100;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}


label {
  color: black;
}

.div-botao-form {
  margin-top: 60px;
  text-align: center;
}

.btn-form {
  border: solid 1px rgb(255, 187, 0);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.btn-form:hover {
  background-color: #FFA100;
  color: white;
  transform: scale(1.2)
}

.div-botao-copiar {
  text-align: center;
  margin-top: 20px;
}

.btn-copiar-assinatura {
  border: solid 1px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  display: none;
}

#resultado {
  font-family: 'Roboto';
  margin-top: 20px;
  font-size: 0.6rem;
  background: white;
  padding: 15px;
  border-radius: 15px;
  display: none;
}

.campocelular {
  flex-direction: column;
  display: flex;
  margin-bottom: 40px;
  width: 42%;
  margin-left: 20px;
  font-family: "Roboto";
}

.info-resultado {
  color: black;
  text-transform: uppercase;
  user-select: none;
  font-weight: bold;
}

#tel {
  line-height: 2;
}

#telefone {
  display: flex;
}

#endereco {
  line-height: 2;
}

#canais {
  line-height: 0;
}

/* .campo input[type="text"], .campo input[type="email"] */